@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

* {
	box-sizing: border-box;
}


body {
	font-family: 'Encode Sans', Calibri, sans-serif;
	background-color: #999999;
	margin: 0;
}

input {
	border: none;
	border-bottom: 2px black solid;
	height: 1.5em;
}

input[type="number"] {
	width: 3em;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[readonly] {
	text-align: center;
}

textarea {
	resize: vertical;
	font-family: 'Arial', Helvetica, sans-serif;
}

header {
	width: 100%;
	padding: 0;
	background-color: #992222;
}

h1 {
	margin: 0px 5px;
	color: white;
}

h2 {
	width: 100%;
	text-transform: uppercase;
	color: white;
	background-color: black;
	text-align: center;
	padding: 5px;
	margin: 0;
	border-bottom: 5px #999999 solid;
}

section {
	padding-top: 5px;
	padding-bottom: 5px;
}

footer {
	width: 100%;
	float: left;
	padding: 10px;
}

.leftCol {
	width: 70%;
	float: left;
	padding: 10px;
	min-width: 800px;
}

.rightCol {
	width: 30%;
	float: left;
	padding: 10px;
	min-width: 380px;
}

@media screen and (max-width: 1300px){
	.leftCol, .rightCol {
    width: 100%;
  }
}

.hab {
	width: calc(100%/6);
	float: left;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 100px;
}

.habDiv {
	float: left;
	width: 50%;
}

.habAbbr,
.statsAbbr {
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
}

.habName,
.statsSav {
	font-size: 0.8em;
	font-weight: normal;
}

.habLabel {
	font-size: 0.7em;
}

.habTitle {
	background-color: #000000;
	color: #FFFFFF ;
}

.statsTable {
	width: 20%;
	padding: 0;
	text-align: center;
	border: 0;
	border-collapse: collapse;
}

.statsTableHeader {
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
}

.atkTable {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: 0;
}

.atkWeapon {
	width: 100%;
}

.atkTableHeader,
.armorTableHeader {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

.armorTable {
	width: 60%;
	border-collapse: collapse;
	border: 0;
	text-align: center;
}

.armorEquip {
	width: 100%;
}

.skillDiv {
	width: calc(100%/3);
	float: left;
	padding: 10px;
}

.skillTextarea {
	width: 100%;
}

.perTable {
	width: 100%;
	padding: 0;
	text-align: center;
	border: 0;
	border-collapse: collapse;
}

.perTableHeader {
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
}

.perTableName {
	text-align: left;
}
.perSpec {
	width: 6em;
}

.magiaSection {
	text-align: center;
}

.magiaLista{
	width: 100%;
	max-width: 300px;
}